{% extends 'base.html' %}

{% block corpo %}

<div class="well">

{% if hoje %}
<h2> Backup do Dia: {{ hoje }} </h2>
{% else %}
<h2> Backup do Período: {{ dia_in }}/{{ mes_in }}/{{ ano_in }} - {{ dia_fi }}/{{ mes_fi }}/{{ ano_fi }}</h2></h2>
{% endif %}
<a class="btn btn-info" href="backups/EscolheIntervalo/">Escolher Intervalo</a>

 <h2> Jobs do Bacula </h2>
  <table class="table table-condensed" id="certtable">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>Agendamento</th>
        <th>Iniciado</th>
        <th>Finalizado</th>
        <th>Status</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
	{% for objeto in lista %}
      <tr>
             <th>  {{ objeto.jobid }}  </th>
             <th>  {{ objeto.name }}  </th>
             <th>  {{ objeto.schedtime|date:"Y-m-d h-i" }}  </th>
             <th>  {{ objeto.starttime|date:"Y-m-d h-i" }}  </th>
             <th>  {{ objeto.endtime|date:"Y-m-d h-i" }}  </th>
             <th> 
               {% if objeto.jobstatus == 'E'  %}
                   <font color="#FF0000"> Error</font> 
               {% endif %}
                  {% if objeto.jobstatus == 'f' %}
                     <font color="#FF0000"> Failed</font>
                  {% endif %}
                     {% if objeto.jobstatus == 'A' %}
                        <font color="#DAA520"> Aborted</font
                     {% endif %}
                         {% if objeto.jobstatus == 'R' %}
                            <font color="#00BFFF"> Running </font>
                           {% endif %}
                              {% if objeto.jobstatus == 'T' %}
                                 <font color="#00BFFF"> Terminated normally </font>
                               {% endif %}
             </th>
	{% endfor %}
      </tr>
    </tbody>
  </table>

</div>

{% endblock %}
