
        <style>
        table {border-collapse: collapse; padding:0}

        tr {border: 0; padding:0}

        th {text-align: right; border: 0; padding:1; margin:0}
        th.normal {background-color: #ddd}
        th.altweek {background-color: #bbb}

        td {color: white; border-bottom: thin solid white; padding:1; margin:0}
        td.normal {background-color: #ddd}
        td.altweek {background-color: #bbb}
        td.Todd-Chavez {background-color: blue}
td.Diane-Nguyen {background-color: red}
        </style>
        
<table>
<tr><th>Task</th>
<th class="altweek" colspan="5">23/Oct</th>
<th class="normal" colspan="5">30/Oct</th>
</tr>
<tr><th nowrap> : Buscar Oculos do Sr Peanutbutter</th>
<td class="Todd-Chavez" colspan="1"></td>
<td class="altweek" colspan="4"></td>
<td class="normal" colspan="5">&nbsp;</td>
</tr>
<tr><th nowrap> : Levar Cabelo do Bojack para DNA</th>
<td class="altweek" colspan="1"></td>
<td class="Todd-Chavez" colspan="1"></td>
<td class="altweek" colspan="3"></td>
<td class="normal" colspan="5">&nbsp;</td>
</tr>
<tr><th nowrap> : Ter um Encontro com Courtney Portier</th>
<td class="altweek" colspan="2"></td>
<td class="Todd-Chavez" colspan="1"></td>
<td class="altweek" colspan="2"></td>
<td class="normal" colspan="5">&nbsp;</td>
</tr>
<tr><th nowrap> : Levar Outro Cabelo para DNA</th>
<td class="altweek" colspan="3"></td>
<td class="Todd-Chavez" colspan="1"></td>
<td class="altweek" colspan="1"></td>
<td class="normal" colspan="5">&nbsp;</td>
</tr>
<tr><th nowrap> : Levar Cabelo da Hollyhock para DNA</th>
<td class="altweek" colspan="4"></td>
<td class="Todd-Chavez" colspan="1"></td>
<td class="normal" colspan="5">&nbsp;</td>
</tr>
<tr><th nowrap> : Limpar a Casa</th>
<td class="altweek" colspan="5"></td>
<td class="Todd-Chavez" colspan="1"></td>
<td class="normal" colspan="4">&nbsp;</td>
</tr>
<tr><th nowrap> : Atuar Como Modelo</th>
<td class="altweek" colspan="5"></td>
<td class="normal" colspan="1"></td>
<td class="Todd-Chavez" colspan="1"></td>
<td class="normal" colspan="3">&nbsp;</td>
</tr>
<tr><th nowrap> : Impedir Diane de Ver as Noticias sobre a Peticao</th>
<td class="altweek" colspan="5"></td>
<td class="normal" colspan="2"></td>
<td class="Todd-Chavez" colspan="1"></td>
<td class="normal" colspan="2">&nbsp;</td>
</tr>
<tr><th nowrap> : Pegar Resultado do Exame de DNA</th>
<td class="altweek" colspan="5"></td>
<td class="normal" colspan="2"></td>
<td class="Diane-Nguyen" colspan="1"></td>
<td class="normal" colspan="2">&nbsp;</td>
</tr>
<tr><th nowrap> : Ir na casa do Channing Tatum</th>
<td class="altweek" colspan="5"></td>
<td class="normal" colspan="3"></td>
<td class="Todd-Chavez" colspan="1"></td>
<td class="normal" colspan="1">&nbsp;</td>
</tr>
<tr><th nowrap> : Tirar Fotos com Courtney Portier</th>
<td class="altweek" colspan="5"></td>
<td class="normal" colspan="4"></td>
<td class="Todd-Chavez" colspan="1">&nbsp;</td>
</tr>
<tr><th nowrap> : Ir a Reuniao de Assexuais</th>
<td class="altweek" colspan="5"></td>
<td class="normal" colspan="5">&nbsp;</td>
</tr>
<tr><th nowrap> : Tocar Triangulo na Opera</th>
<td class="altweek" colspan="5"></td>
<td class="normal" colspan="5">&nbsp;</td>
</tr>

        </table>
        <table width="90%" align="center">
        <tr>
        <td width="30%" class="Todd-Chavez">Todd Chavez</td>
<td width="30%" class="Diane-Nguyen">Diane Nguyen</td>
        </tr>
        </table>
        
