
        <style>
        table {border-collapse: collapse; padding:0}

        tr {border: 0; padding:0}

        th {text-align: right; border: 0; padding:1; margin:0}
        th.normal {background-color: #ddd}
        th.altweek {background-color: #bbb}

        td {color: white; border-bottom: thin solid white; padding:1; margin:0}
        td.normal {background-color: #ddd}
        td.altweek {background-color: #bbb}
        td.Todd-Chavez {background-color: blue}
td.Diane-Nguyen {background-color: yellow}
        </style>
        
<table>
<tr><th>Task</th>
<th class="altweek" colspan="5">18/Oct</th>
<th class="normal" colspan="5">25/Oct</th>
<th class="altweek" colspan="5">01/Nov</th>
</tr>
<tr><th nowrap> : ultima a ser criada</th>
<td class="Diane-Nguyen" colspan="4"></td>
<td class="altweek" colspan="1"></td>
<td class="normal" colspan="5"></td>
<td class="altweek" colspan="5">&nbsp;</td>
</tr>
<tr><th nowrap> : tarefa13</th>
<td class="altweek" colspan="4"></td>
<td class="Todd-Chavez" colspan="4"></td>
<td class="normal" colspan="2"></td>
<td class="altweek" colspan="5">&nbsp;</td>
</tr>
<tr><th nowrap> : tarefa1</th>
<td class="altweek" colspan="4"></td>
<td class="Diane-Nguyen" colspan="4"></td>
<td class="normal" colspan="2"></td>
<td class="altweek" colspan="5">&nbsp;</td>
</tr>
<tr><th nowrap> : tarefa2</th>
<td class="altweek" colspan="5"></td>
<td class="normal" colspan="3"></td>
<td class="Diane-Nguyen" colspan="3"></td>
<td class="altweek" colspan="4">&nbsp;</td>
</tr>
<tr><th nowrap> : tarefa11</th>
<td class="altweek" colspan="5"></td>
<td class="normal" colspan="3"></td>
<td class="Todd-Chavez" colspan="7">&nbsp;</td>
</tr>

        </table>
        <table width="90%" align="center">
        <tr>
        <td width="30%" class="Todd-Chavez">Todd Chavez</td>
<td width="30%" class="Diane-Nguyen">Diane Nguyen</td>
        </tr>
        </table>
        
