
        <style>
        table {border-collapse: collapse; padding:0}

        tr {border: 0; padding:0}

        th {text-align: right; border: 0; padding:1; margin:0}
        th.normal {background-color: #ddd}
        th.altweek {background-color: #bbb}

        td {color: white; border-bottom: thin solid white; padding:1; margin:0}
        td.normal {background-color: #ddd}
        td.altweek {background-color: #bbb}
        td.Harpo {background-color: blue}
td.Chico {background-color: yellow}
td.Gummo {background-color: red}
td.Zeppo {background-color: green}
        </style>
        
<table>
<tr><th>Task</th>
<th class="altweek" colspan="5">13/Oct</th>
<th class="normal" colspan="5">20/Oct</th>
</tr>
<tr><th nowrap> : Vencer Londrina</th>
<td class="Chico" colspan="5"></td>
<td class="normal" colspan="5">&nbsp;</td>
</tr>
<tr><th nowrap> : Conquistar 3 pontos fora(Goias e Guarani)</th>
<td class="altweek" colspan="5"></td>
<td class="Zeppo" colspan="3"></td>
<td class="normal" colspan="2">&nbsp;</td>
</tr>
<tr><th nowrap> : Fazer 4 pontos contra Nautico e Ceara</th>
<td class="altweek" colspan="5"></td>
<td class="Gummo" colspan="5">&nbsp;</td>
</tr>
<tr><th nowrap> : Empatar CRB fora</th>
<td class="altweek" colspan="5"></td>
<td class="normal" colspan="5">&nbsp;</td>
</tr>
<tr><th nowrap> : Vencer Oeste e Figueira</th>
<td class="altweek" colspan="5"></td>
<td class="normal" colspan="5">&nbsp;</td>
</tr>
<tr><th nowrap> : Pontuar contra America</th>
<td class="altweek" colspan="5"></td>
<td class="normal" colspan="5">&nbsp;</td>
</tr>
<tr><th nowrap> : Vencer Santinha</th>
<td class="altweek" colspan="5"></td>
<td class="normal" colspan="5">&nbsp;</td>
</tr>

        </table>
        <table width="90%" align="center">
        <tr>
        <td width="30%" class="Harpo">Harpo</td>
<td width="30%" class="Chico">Chico</td>
<td width="30%" class="Gummo">Gummo</td>
<td width="30%" class="Zeppo">Zeppo</td>
        </tr>
        </table>
        
