{% extends 'base.html' %}

{% block corpo %}

  <div class="container">

  <h2>Sites Monitorados</h2>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Site</th>
        <th>Status</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {% for objeto in lista_sites %}
      <tr>
             <th>{{ objeto.site }}</a></th>
             <th>{{ objeto.code }}</a></th>
	     <th>  <a class="glyphicon glyphicon-pencil" href='/edita_site/{{ objeto.id }}/'></a> </th>
	     <th>  <a class="glyphicon glyphicon-trash" href='/exclui/{{ objeto.id }}/'></a> </th>

        {% endfor %}
      </tr>
    </tbody>
  </table>

  <a href="/adiciona_site/" class="glyphicon glyphicon-plus" style="font-size:2.0em;"></a>

  </div>  


{% endblock %}

